@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center;">Sinclair Software Solutions</h1>
    <p class="lead" style="text-align: center;">Everything you see was written and developed by Adam Sinclair.</p>
    <p style="text-align: center;"><a href="http://adamsinclair.ca" target="_blank" class="btn btn-primary btn-lg">Check out my soon-to-be-updated porfolio.</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Who worked on this?</h2>
        <p>
            The only person that worked on the project was me, Adam Sinclair.
        </p>
        <p>Adam Sinclair - 200321984</p>
        <p>200321984@student.georgianc.on.ca</p>
        <p>Adam.Sinclair@MyGeorgian.ca</p>
    </div>
    <div class="col-md-6">
        <h2>What does this project do?</h2>
        <p>Honestly? Not much. You create Students, and Courses, and then assign them when you create a CourseEnrolment.</p>
        <p>The intention was to have multiple student selects but I couldn't get that working.</p>
    </div>
</div>